<div class="formbases">
<div class="event-container">
<h2>Create an Event</h2>
 <form action="/events/create" method="post" enctype="multipart/form-data">

 <div id="title">
  <label> Title:
    <input type="text" name="title" />
  </label>
  </div>

  <div id="description">
  <label for="">Description:</label>
  <input type="text" name="description"/>
  </div>

 <div id="location">
    <label> Location:
    <input type="text" name="location" />
  </label>
  </div>
 
  <div id="contact">
  <label> Contact:
    <input type="number" name="contact" />
  </label>
  </div>

 <div id="file">
  <label>
    Picture: 
   <input type="file" name="picture_url">
</label>
</div>
 
  <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"> Create </button>
</form>