<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/events/events-list">Events</a></li>
  <li><a href="/auth/signup">SignUp</a></li>
  <li><a href="/auth/login">LogIn</a></li>
  
</ul>

<h1>{{accountType}}</h1>

{{#ifEquals ../userId author._id}}

{{/ifEquals}}