<form action="/auth/client/{{_id}}" method="POST">
<div class="new-creator">
<h1>Welcome to your Profile!</h1>
</div>
<div class="formbases">
<div class="creator-container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="artist-fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Short Bio</label>
    <input type="text" id="lname" name="lastname" placeholder="About you..">
  
    <input type="submit" value="Create!">
  </form>
</div>