<h1 id="creator-title"> Creator Profile{{user.accountType}}   

</h1>

<a href='/auth/edit/{{user._id}}' class='creatorbtn'><button>Edit Profile</button></a>

  <div>  
  <h2>{{title}}</h2>
  <p>Short Description:</p>
  <p>{{description}}</p>
</div>
