<form action="/auth/creator/{{_id}}" method="POST">
<div class="new-creator">
<h1 id="creator-title">Welcome to your Profile!</h1>
</div>
<div class="formbases">
<div class="creator-container">
    <p><b>Tell us something about yourself:</b></p>
    <hr>
    <label for="fname">First Name</label>
    <input type="text" id="creator-fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Short Bio</label>
    <input type="text" id="lname" name="lastname" placeholder="About you..">

    <button type="submit">Submit</button>
    </form>
</div>
</div>